@import 'mix/mix'
.main
    height: 45rem
    padding-left: 10rem
    &_img
        width: 100vw
        height: 33rem
    &_text
        margin-bottom: 3rem
        &_p
            margin-bottom: 2rem
        &_h
            margin-bottom: 2rem
            color: $green

@media (max-width: 1920px)
    html
        font-size: 14px

@media (max-width: 1500px)
    html
        font-size: 12px
    footer
        padding-left: 14rem

@media (max-width: 1250px)
    html
        font-size: 11px

@media (max-width: 1024px)
    html
        font-size: 10px
    footer
        padding-left: 5rem

@media (max-width: 768px)
    html
        font-size: 8px
    footer
        padding-left: 3rem

@media (max-width: 500px)
    html
        font-size: 5px
    footer
        padding-left: 3rem

@media (max-width: 321px)
    html
        font-size: 4px
