<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главня страница</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                <a class="header_logo" href="index.html"><img class="header_logo_img" src="./icon/logo-kontinent.svg" alt=""></a>
                <a class="header_tel" href="#">+7 (49232) 9-47-58</a>
            </div>
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="onas.html" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="kontakt.html" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="chaikovskiy.html" target="_blank">
                                <li>ЖК ЧАЙКОВСКИЙ</li>
                            </a>
                            <a href="grani.html" target="_blank">
                                <li>ЖК ГРАНИ</li>
                            </a>
                            <a href="slavniy.html" target="_blank">
                                <li>МИКРОРАЙОН СЛАВНЫЙ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="slider">
                <div class="slide">
                    <div class="slider_text">
                        <h1 class="slider_text_h">ЖК ЧАЙКОВСКИЙ</h1>
                        <p class="slider_text_p">Долгожданный старт продаж нового дома <br>
                            комфорт-класса за Крупянщиком</p>
                        <a href="chaikovskiy.html"><button class="slider_text_btn">
                                <p class="slider_text_btn_text">ВЫБРАТЬ КВАРТИРУ</p>
                            </button></a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slider_text">
                        <h1 class="slider_text_h">ЖК ГРАНИ</h1>
                        <p class="slider_text_p">Последние свободные квартиры.<br> Дом готовится к сдаче</p>
                        <a href="grani.html"><button class="slider_text_btn">
                                <p class="slider_text_btn_text">ВЫБРАТЬ КВАРТИРУ</p>
                            </button></a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slider_text">
                        <h1 class="slider_text_h">МИКРОРАЙОН СЛАВНЫЙ</h1>
                        <p class="slider_text_p">Долгожданный старт продаж нового дома <br>
                            комфорт-класса за Крупянщиком</p>
                        <a href="./slavniy.html"><button class="slider_text_btn">
                                <p class="slider_text_btn_text">ВЫБРАТЬ КВАРТИРУ</p>
                            </button></a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slider_text">
                        <h1 class="slider_text_h">ЖК ЧАЙКОВСКИЙ</h1>
                        <p class="slider_text_p">Долгожданный старт продаж нового дома <br>
                            комфорт-класса за ул. Еловой</p>
                        <a class="slider_text_btn_a" href="chaikovskiy.html"><button class="slider_text_btn">
                                <p class="slider_text_btn_text">ВЫБРАТЬ КВАРТИРУ</p>
                            </button></a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slider_text">
                        <h1 class="slider_text_h">ЖК ГРАНИ</h1>
                        <p class="slider_text_p">Последние свободные квартиры.<br> Дом готовится к сдаче</p>
                        <a href="grani.html"><button class="slider_text_btn">
                                <p class="slider_text_btn_text">ВЫБРАТЬ КВАРТИРУ</p>
                            </button></a>
                    </div>
                </div>
            </div>

        </main>
        <section class="section_2">
            <h2 class="section_2_text">НАШИ ПРОЕКТЫ</h2>
            <div class="cards">
                <div class="card_1">
                    <a href="chaikovskiy.html">
                        <div class="card_img">
                            <img class="card" src="./photo/previu1_B4VqgE1.jpg" alt="">
                        </div>
                        <h3 class="card_text">ЖК Чайковский</h3>
                        <p class="card_text_p">Крупянщик<span class="card_text_span">от 2.66 млн. ₽</span></p>
                    </a>

                </div>
                <div class="card_2">
                    <a href="grani.html">
                        <div class="card_img">
                            <img class="card" src="./photo/grani-previu-2.jpg" alt="">
                        </div>
                        <h3 class="card_text">ЖК Грани</h3>
                        <p class="card_text_p">Площадь 200-летия<span class="card_text_span">от 2.66 млн. ₽</span></p>
                    </a>

                </div>
                <div class="card_3">
                    <a href="slavniy.html">
                        <div class="card_img">
                            <img class="card" src="./photo/previu-3.jpg" alt="">
                        </div>
                        <h3 class="card_text">Микрорайон Славный</h3>
                        <p class="card_text_p">ул. Еловая<span class="card_text_span">от 2.66 млн. ₽</span></p>
                    </a>

                </div>
            </div>
        </section>
        <section class="section_3">
            <h2 class="section_3_text">КАК КУПИТЬ</h2>
            <div class="section_b">
                <div class="section_buy card-4">
                    <h4 class="section_buy_text">Ипотека</h4>
                    <p class="section_buy_text_p">Квартиры по ипотеке по <br> ставке от 2,76%</p>
                    <img class="section_buy_text_img section_buy_text_img_1" src="./icon/how-to-ipoteka.svg" alt="">
                    <a class="section_buy_text_a" href="#"><button class="section_buy_text_btn">Подробнее</button></a>
                </div>
                <div class="section_buy card-5">
                    <h4 class="section_buy_text">Рассрочка</h4>
                    <p class="section_buy_text_p">Рассрочка на квартиры<br> ГК «Континент» от 0,0%</p>
                    <img class="section_buy_text_img section_buy_text_img_2" src="./icon/how-to-rassrochka.svg" alt="">
                    <a class="section_buy_text_a" href="#"><button class="section_buy_text_btn">Подробнее</button></a>
                </div>
                <div class="section_buy card-6">
                    <h4 class="section_buy_text">TRADE-IN</h4>
                    <p class="section_buy_text_p">Обменяйте старую квартиру <br> на новую</p>
                    <img class="section_buy_text_img section_buy_text_img_3" src="./icon/how-to-tradein.svg" alt="">
                    <a class="section_buy_text_a" href="#"><button class="section_buy_text_btn">Подробнее</button></a>
                </div>
                <div class="section_buy card-7">
                    <h4 class="section_buy_text">Мат. капитал</h4>
                    <p class="section_buy_text_p">Программа поддержки <br> российских семей</p>
                    <img class="section_buy_text_img section_buy_text_img_4" src="./icon/how-to-matkap.svg" alt="">
                    <a class="section_buy_text_a" href="#"><button class="section_buy_text_btn">Подробнее</button></a>
                </div>
            </div>
        </section>
        <section class="section_4">
            <div class="photo">
                <h2 class="actions_text">ФОТО</h2>
                <div class="photo_card">
                    <div class="slider slider_mini slider_mini_glav">
                        <div class="slide slide_mini"></div>
                        <div class="slide slide_mini"></div>
                        <div class="slide slide_mini"></div>
                        <div class="slide slide_mini"></div>
                        <div class="slide slide_mini"></div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <h2 class="actions_text">АКЦИИ</h2>
                <div class="actions_card">
                    <h4 class="actions_text_h1">Новогодний ШАРман</h4>
                    <h3 class="actions_text_h2">скидки на ВСЁ: квартиры,<br>
                        таунхаусы, офисы</h3>
                    <p class="actions_text_p"> 04.01.2024<span class="actions_text_s">Акция</span></p>
                </div>
            </div>
        </section>
        <section class="link">
            <img src="icon/promo-character.svg" alt="" class="link_img">
            <div class="content">
                <div class="left-side">
                    <div class="address details">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="topic">Адрес</div>
                        <div class="text-one">г. Ковров</div>
                    </div>
                    <div class="phone details">
                        <i class="fas fa-phone-alt"></i>
                        <div class="topic">Телефон</div>
                        <div class="text-one">8-800-000-00-00</div>
                        <div class="text-two">8-900-000-00-00</div>
                    </div>
                    <div class="email details">
                        <i class="fas fa-envelope"></i>
                        <div class="topic">Email</div>
                        <div class="text-one">support@site.com</div>
                        <div class="text-two">admin@site.com</div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="topic-text">Отправьте нам сообщение</div>
                    <p>
                        Если у вас есть какие-то вопросы или предложения по сотрудничеству -
                        заполните форму ниже
                    </p>
                    <form action="#">
                        <div class="input-box">
                            <input type="text" placeholder="Ваше имя" />
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Введите email" />
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="+7 (___) - ___-__-__" placeholder="Введите телефон" />
                        </div>
                        <div class="input-box message-box">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <div class="button">
                            <input type="button" value="Отправить" />
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer_list">
                <div class="footer_list_1">
                    <div class="list_1">
                        <ul>
                            <li class="list_1_li">
                                <h5>ВЫБОР НЕДВИЖИМОСТИ</h5>
                            </li>
                            <li class="list_1_li"><a href="chaikovskiy.html" class="list_a">ЖК ЧАЙКОВСКИЙ</a></li>
                            <li class="list_1_li"><a href="grani.html" class="list_a">ЖК ГРАНИ</a></li>
                            <li class="list_1_li list_1_li_l"><a href="slavniy.html" class="list_a">МИКРОРАЙОН
                                    СЛАВНЫЙ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="list_2">
                        <ul>
                            <li class="list_1_li">
                                <h5>О КОМПАНИИ</h5>
                            </li>
                            <li class="list_1_li"><a href="onas.html" class="list_a">О НАС</a></li>
                            <li class="list_1_li list_1_li_l"><a href="kontakt.html" class="list_a">СВЯЗАТЬСЯ С НАМИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_text">
                <img class="footer_logo" src="./icon/logo-kontinent.svg" alt="">
                <p class="footer_text_p">Продажи осуществляются в соответствии с Федеральным законом 214-Ф3. Проектная
                    декларация опубликована
                    на
                    сайте: наш.дом.рф. Фактический внешний вид возводимых зданий может отличаться от изображений,
                    размещаемых на сайте. Информация, изложенная на сайте, в том числе цены, носит исключительно
                    информационный характер и ни при каких условиях не является публичной офертой, определяемой
                    положениями
                    статьи 437 ГК РФ. Окончательная цена указывается в договоре.</p>
            </div>

        </footer>
    </div>
    <script src="https://kit.fontawesome.com/fce9a50d02.js" crossorigin="anonymous"></script>
</body>


</html>