<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/kontakt.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                <a class="header_logo" href="index.html"><img class="header_logo_img" src="./icon/logo-kontinent.svg" alt=""></a>
                <a class="header_tel" href="#">+7 (49232) 9-47-58</a>
            </div>
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="onas.html" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="kontakt.html" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="chaikovskiy.html" target="_blank">
                                <li>ЖК ЧАЙКОВСКИЙ</li>
                            </a>
                            <a href="grani.html" target="_blank">
                                <li>ЖК ГРАНИ</li>
                            </a>
                            <a href="slavniy.html" target="_blank">
                                <li>МИКРОРАЙОН СЛАВНЫЙ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <img class="main_img" src="./photo/ymyiamymy.jpg" alt="">
        <main class="main">

            <h1 class="main_text">Компания</h1>
            <h2 class="main_text_h">С 2004 года на рынке недвижимости</h2>
            <p class="main_text_p">История строительной компании «Континент» берет свое начало в 2004 году. Уже более 18
                лет компания
                возводит дома, с каждым годом <br> увеличивая объемы и качество строительства.
                Компания «Континент» является лидером рынка первичной недвижимости города Коврова.<br> Наша цель - создание
                современного комфортного жилья для жителей города, отличающегося своими характеристиками от всего, что
                строилось ранее.<br> На сегодняшний день в портфеле компании многоквартирные дома с кирпичным,
                кирпично-панельным и монолитным типом строительства.<br>
                В декабре 2015 года клиентам был предложен совершенно новый для Коврова тип жилья – таунхаусы с
                двухуровневыми квартирами, <br> собственным земельным участком и парковочным местом в новом микрорайоне
                "Славный" в черте города.
                В июле 2019 года такой <br> формат жилья появился и во Владимире в микрорайоне "Заклязьменский".</p>
            <h2 class="main_text_h">ТОП-5 крупнейших застройщиков Владимирской области</h2>
            <p class="main_text_p">По объемам строительства мы стабильно занимаем ведущие позиции среди застройщиков не
                только города
                Коврова, но и всего 33 региона.<br>
                Эти показатели доказывают, что мы - стабильно развивающаяся компания, надежный застройщик, у которого не
                снижаются темпы строительства,<br> растет предложение по недвижимости, появляются новые форматы жилья и
                перспективы выхода на новые рынки.
                В 2018 году мы удостоились <br>награды "Надежный застройщик России 2018". Золотой знак общественного
                контроля - главная общественная награда в сфере жилищного строительства.<br> По согласованию с
                контролирующими органами субъектов РФ награда присваивается строительным компаниям, которые имеют
                высочайшие показатели надежности в области соблюдения законных прав и интересов участников долевого
                строительства и к которым отсутствуют претензии со стороны<br> органов власти и жалобы со стороны
                покупателей.
                Фондом развития механизмов гражданского контроля была организована проверка около 15 000<br> застройщиков
                РФ. По Владимирской области такую награду вручили всего лишь трём застройщикам, в том числе и
                строительной компании.</p>
        </main>

        <footer>
            <div class="footer_list">
                <div class="footer_list_1">
                    <div class="list_1">
                        <ul>
                            <li class="list_1_li">
                                <h5>ВЫБОР НЕДВИЖИМОСТИ</h5>
                            </li>
                            <li class="list_1_li"><a href="chaikovskiy.html" class="list_a">ЖК ЧАЙКОВСКИЙ</a></li>
                            <li class="list_1_li"><a href="grani.html" class="list_a">ЖК ГРАНИ</a></li>
                            <li class="list_1_li list_1_li_l"><a href="slavniy.html" class="list_a">МИКРОРАЙОН СЛАВНЫЙ</a></li>
                        </ul>
                    </div>
                    <div class="list_2">
                        <ul>
                            <li class="list_1_li">
                                <h5>О КОМПАНИИ</h5>
                            </li>
                            <li class="list_1_li"><a href="onas.html" class="list_a">О НАС</a></li>
                            <li class="list_1_li list_1_li_l"><a href="kontakt.html" class="list_a">СВЯЗАТЬСЯ С НАМИ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_text">
                <img class="footer_logo" src="./icon/logo-kontinent.svg" alt="">
                <p class="footer_text_p">Продажи осуществляются в соответствии с Федеральным законом 214-Ф3. Проектная
                    декларация опубликована
                    на
                    сайте: наш.дом.рф. Фактический внешний вид возводимых зданий может отличаться от изображений,
                    размещаемых на сайте. Информация, изложенная на сайте, в том числе цены, носит исключительно
                    информационный характер и ни при каких условиях не является публичной офертой, определяемой
                    положениями
                    статьи 437 ГК РФ. Окончательная цена указывается в договоре.</p>
            </div>

        </footer>
    </div>
</body>

</html>