<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СЛАВНЫЙ</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/cahikov.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                <a class="header_logo" href="index.html"><img class="header_logo_img" src="./icon/logo-kontinent.svg" alt=""></a>
                <a class="header_tel" href="#">+7 (49232) 9-47-58</a>
            </div>
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="onas.html" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="kontakt.html" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="chaikovskiy.html" target="_blank">
                                <li>ЖК ЧАЙКОВСКИЙ</li>
                            </a>
                            <a href="grani.html" target="_blank">
                                <li>ЖК ГРАНИ</li>
                            </a>
                            <a href="slavniy.html" target="_blank">
                                <li>МИКРОРАЙОН СЛАВНЫЙ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <h1 class="main_text">Микрорайон Славный</h1>
            <div class="cards">
                <div class="card card-1">
                    <div class="photo_card">
                        <div class="slider slider_mini slider_mini_slavniy">
                            <div class="slide slide_mini"></div>
                            <div class="slide slide_mini"></div>
                            <div class="slide slide_mini"></div>
                            <div class="slide slide_mini"></div>
                            <div class="slide slide_mini"></div>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="actions_card">
                        <h4 class="actions_text_h1">Славный</h4>
                        <h3 class="actions_text_h2">234 квартиры в продаже<br>
                        </h3>
                        <h3 class="actions_text_h2">Комфорт-класс
                            <br>
                            <span class="actions_text_h2_s">17 этажей</span>
                        </h3>
                        <h3 class="actions_text_h2">2 кв. 2026г.

                            <br>
                            <span class="actions_text_h2_s">срок сдачи</span>
                        </h3>
                        <p class="actions_text_p"><span class="actions_text_s">от 3.8 млн. руб.</span></p>
                    </div>
                </div>
            </div>
            <h3 class="main_text_3">
                <span class="main_text_span">Новый микрорайон в Коврове</span> <br>
                Микрорайон "Славный" - это масштабный проект комплексной застройки от ГК "Континент". На территории
                около 50 Га, расположенной рядом с улицей <br> Еловой рядом с больничным комплексом с 2015 года строится
                целый новый район с новыми коммуникациями, дорогами, пешеходными, игровыми <br> и спортивными
                зонами.<br>
                В микрорайоне будет построено:<br>
                • 13 многоквартирных домов;<br>
                • 186 таунхаусов и индивидуальных домов;<br>
                • пешеходная аллея;<br>
                • большая центральная площадь;<br>
                • 2 спортивных ядра в зоне таунхаусов<br>
            </h3>
        </main>
        <section class="form_sviaz">
            <div class="topic-text">Отправьте нам сообщение</div>
            <p class="topic-text_p">
                Если у вас есть какие-то вопросы или предложения по сотрудничеству -
                заполните форму ниже
            </p>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Ваше имя" />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Введите email" />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Введите телефон" />
                </div>
                <div class="input-box message-box">
                    <textarea placeholder="Сообщение"></textarea>
                </div>
                <div class="button">
                    <input type="button" value="Отправить" />
                </div>
            </form>
        </section>
        <footer>
            <div class="footer_list">
                <div class="footer_list_1">
                    <div class="list_1">
                        <ul>
                            <li class="list_1_li">
                                <h5>ВЫБОР НЕДВИЖИМОСТИ</h5>
                            </li>
                            <li class="list_1_li"><a href="chaikovskiy.html" class="list_a">ЖК ЧАЙКОВСКИЙ</a></li>
                            <li class="list_1_li"><a href="grani.html" class="list_a">ЖК ГРАНИ</a></li>
                            <li class="list_1_li list_1_li_l"><a href="slavniy.html" class="list_a">МИКРОРАЙОН
                                    СЛАВНЫЙ</a></li>
                        </ul>
                    </div>
                    <div class="list_2">
                        <ul>
                            <li class="list_1_li">
                                <h5>О КОМПАНИИ</h5>
                            </li>
                            <li class="list_1_li"><a href="onas.html" class="list_a">О НАС</a></li>
                            <li class="list_1_li list_1_li_l"><a href="kontakt.html" class="list_a">СВЯЗАТЬСЯ С НАМИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_text">
                <img class="footer_logo" src="./icon/logo-kontinent.svg" alt="">
                <p class="footer_text_p">Продажи осуществляются в соответствии с Федеральным законом 214-Ф3. Проектная
                    декларация опубликована
                    на
                    сайте: наш.дом.рф. Фактический внешний вид возводимых зданий может отличаться от изображений,
                    размещаемых на сайте. Информация, изложенная на сайте, в том числе цены, носит исключительно
                    информационный характер и ни при каких условиях не является публичной офертой, определяемой
                    положениями
                    статьи 437 ГК РФ. Окончательная цена указывается в договоре.</p>
            </div>

        </footer>
    </div>
</body>

</html>